{% extends 'hospital/dashboard/base.html' %}

{% block title %}Manage Slots{% endblock %}
{% block page_title %}Manage Slots{% endblock %}

{% block content %}

<div style="margin-bottom:20px;">

    <a href="{% url 'hospital:create_slot' %}" class="btn">
        + Add Slot
    </a>

</div>

<div class="card">
    <h2>Manage Slots</h2>

    <table>
        <thead>
            <tr>
                <th>Doctor</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            {% for slot in slots %}

            <tr>
                <td>Dr. {{ slot.doctor.name }}</td>
                <td>{{ slot.date }}</td>
                <td>{{ slot.start_time }}</td>
                <td>{{ slot.end_time }}</td>

                <td>
                    {% if slot.booked_count < slot.max_patients %}
                        <span class="badge success">Available</span>
                    {% else %}
                        <span class="badge danger">Full</span>
                    {% endif %}
                </td>

                <td>
                    <a href="{% url 'hospital:edit_slot' slot.id %}" class="btn btn-sm">
                        Edit
                    </a>
                </td>
            </tr>

            {% empty %}

            <tr>
                <td colspan="6">No slots found.</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}